@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #d3d3d3;
  --table-border-color: #eaeaea;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

* {
  outline: none !important;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
  scrollbar-width: thin;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
}

a {
  color: #7300dc;
}

a:hover {
  color: #b175e7;
}

hr {
  color: #d1d5db;
  border: 0;
  border-top: solid 1px;
}

input[readonly],
.ant-input.readonly {
  background-color: rgb(0 0 0 / 2%);
}

.ant-calendar-picker-input,
.ant-calendar-picker-input input {
  background-color: transparent;
}

input[disabled],
.ant-input.disabled {
  color: rgb(0 0 0 / 40%) !important;
  background-color: #f5f5f5;
}

.table-wrapper {
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  border: 1px solid var(--table-border-color);
}

table {
  font-size: 0.9rem;
  border-spacing: 0px;
  border-collapse: separate;
  min-width: 100%;
}

table th,
table td {
  /* background-color: #fff; */
  border: solid 1px var(--table-border-color);
  border-top-width: 0;
  border-left-width: 0;
  padding: 6px 10px;
}

table.ant-calendar-table th,
table.ant-calendar-table td {
  border: none;
}

table th {
  font-size: 84%;
}

table th:last-child,
table td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

tr {
  position: relative;
}

tbody tr:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

td {
  white-space: normal;
}

.table-wrapper > table > tbody > tr:hover:after {
  background-color: rgb(0 160 220 / 6%);
}

th.sticky {
  box-shadow: 0 -25px 8px #ddd, 0 10px 8px #ddd;
}

td.sticky {
  width: 1%;
  min-width: 1%;
  padding: 6px 10px !important;
  box-shadow: 0 10px 8px #ddd;
}

.week-picker, .range-picker {
  width: 210px;
}

.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  padding-left: 25px;
  padding-right: 25px;
}

.ant-calendar-month-panel-cell,
.ant-calendar-year-panel-cell,
.ant-calendar-decade-panel-cell {
  width: calc(100% / 3);
}

.ant-calendar-disabled-cell {
  background: rgb(240 240 240 / 50%);
}

.ant-calendar-disabled-cell .ant-calendar-date {
  background: transparent;
}

.ant-switch,
.ant-form-item .ant-switch {
  width: 58px;
  height: 25px;
  margin: 0;
}

.ant-switch {
  background-color: rgba(0, 0, 0, 0.4);
}

.ant-switch-checked {
  background-color: #27c584;
}

.ant-switch-inner {
  font-size: 13px;
  letter-spacing: 0.5px;
}

.ant-switch::after {
  width: 21px;
  height: 21px;
}

.sticky {
  z-index: 1;
}

pre, .pre {
  margin: 0;
  white-space: pre-wrap;
}

.spin {
  animation: rotate 1s linear infinite;
}

.search-highlight {
  background-color: #fff700;
  display: inline;
}
